- if @output.present?
  =render :partial => @type, :output => @output

= form_tag(root_path, :id => "convert_form") do
  = field_set_tag "Start typing game's title or a date" do
    = text_field_tag :name, (params[:name] if params[:name].present?)
    = submit_tag "DeValvify"

