@charset "UTF-8";
/* line 14, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 33, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: "CartoGothic Std",sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% "CartoGothic Std",sans-serif;
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 17, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 26, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 70, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 71, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 72, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 73, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 78, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 85, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

/* line 89, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 100, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #cb4820;
  color: white;
  text-shadow: none;
}

/* line 101, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #cb4820;
  color: white;
  text-shadow: none;
}

/* line 106, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #cb4820;
}

/* line 117, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 119, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 124, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.01@global/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@font-face {
  font-family: "CartoGothic Std";
  src: url(/fonts/CartoGothicStd-Book-webfont.eot);
  src: local("☺"), url(/fonts/CartoGothicStd-Book-webfont.woff) format('woff'), url(/fonts/CartoGothicStd-Book-webfont.ttf) format('truetype'), url(/fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook) format('svg');
}

@font-face {
  font-family: "CartoGothic Std";
  src: url(/fonts/CartoGothicStd-Bold-webfont.woff) format('woff'), url(/fonts/CartoGothicStd-Bold-webfont.ttf) format('truetype'), url(/fonts/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold) format('svg');
  font-weight: bold;
  src: url(/fonts/CartoGothicStd-Bold-webfont.eot);
}

@font-face {
  font-family: "CartoGothic Std";
  src: url(/fonts/CartoGothicStd-Italic-webfont.woff) format('woff'), url(/fonts/CartoGothicStd-Italic-webfont.ttf) format('truetype'), url(/fonts/CartoGothicStd-Italic-webfont.svg#CartoGothicStdItalic) format('svg');
  font-style: italic;
  src: url(/fonts/CartoGothicStd-Italic-webfont.eot);
}

@font-face {
  font-family: "CartoGothic Std";
  src: url(/fonts/CartoGothicStd-BoldItalic-webfont.woff) format('woff'), url(/fonts/CartoGothicStd-BoldItalic-webfont.ttf) format('truetype'), url(/fonts/CartoGothicStd-BoldItalic-webfont.svg#CartoGothicStdBoldItalic) format('svg');
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/CartoGothicStd-BoldItalic-webfont.eot);
}

/* line 8, sass/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 15, sass/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 21, sass/partials/_page.scss */
a, a:active, a:visited, #examples li {
  color: #2042cb;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-shadow: #dddddd 0 0 3px;
  text-decoration: none;
  cursor: pointer;
}

/* line 28, sass/partials/_page.scss */
a:hover, #examples li:hover {
  color: #7590fe;
  text-shadow: #444444 0 0 10px;
}

/* line 33, sass/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 37, sass/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 46, sass/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 51, sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 58, sass/partials/_page.scss */
body {
  background-color: #7590fe;
}

/* line 62, sass/partials/_page.scss */
#container {
  background-color: #EEE;
  border: 2px solid #2042cb;
  border-top: 0;
  margin: 0 auto;
  width: 700px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: #4267fe 0 0 15px 0;
  -webkit-box-shadow: #4267fe 0 0 15px 0;
  -o-box-shadow: #4267fe 0 0 15px 0;
  box-shadow: #4267fe 0 0 15px 0;
}

/* line 73, sass/partials/_page.scss */
header {
  background-color: #7590fe;
  background-image: -moz-linear-gradient(top, #7590fe, #4267fe);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7590fe), color-stop(1, #4267fe));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7590fe', EndColorStr='#4267fe');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7590fe', EndColorStr='#4267fe')";
  padding: 20px;
  height: 115px;
  position: relative;
  z-index: 1;
}
/* line 80, sass/partials/_page.scss */
header h1 {
  position: absolute;
  height: 150px;
  width: 600px;
  display: block;
  top: 20px;
  left: 40px;
  background-image: url(/images/logo.png);
}

/* line 90, sass/partials/_page.scss */
.csstransforms header {
  /* -14400 degrees = 40 hours */
}
/* line 91, sass/partials/_page.scss */
.csstransforms header #clock {
  position: absolute;
  height: 150px;
  width: 150px;
  display: block;
  top: 20px;
  left: 40px;
  background-image: url(/images/spinner/background.png);
}
/* line 100, sass/partials/_page.scss */
.csstransforms header #hours, .csstransforms header #minutes {
  position: absolute;
  height: 150px;
  width: 150px;
  display: block;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 108, sass/partials/_page.scss */
.csstransforms header #hours {
  background-image: url(/images/spinner/small.png);
  -moz-transform: rotate(-14355deg);
  -webkit-transform: rotate(-14355deg);
  -o-transform: rotate(-14355deg);
  transform: rotate(-14355deg);
}
/* line 112, sass/partials/_page.scss */
.csstransforms header #minutes {
  background-image: url(/images/spinner/big.png);
  -moz-transform: rotate(-14470deg);
  -webkit-transform: rotate(-14470deg);
  -o-transform: rotate(-14470deg);
  transform: rotate(-14470deg);
}

/* line 118, sass/partials/_page.scss */
.no-csstransforms #clock, .no-csstransforms #hours, .no-csstransforms #minutes {
  display: none;
}

/* line 122, sass/partials/_page.scss */
.result {
  padding: 30px;
  background: #444;
  color: #BBB;
  position: relative;
}
/* line 127, sass/partials/_page.scss */
.result #background {
  position: absolute;
  display: block;
  background-color: #DDD;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 137, sass/partials/_page.scss */
.result #error {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  color: #CB4820;
}

/* line 147, sass/partials/_page.scss */
#main #convert_form {
  margin: 30px 0 0;
  padding: 30px;
  position: relative;
}
/* line 151, sass/partials/_page.scss */
#main #convert_form #input {
  background-color: white;
  display: block;
  width: 550px;
  padding: 15px 75px 15px 15px;
  font-size: 20pt;
  border: 2px solid #888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #bbbbbb 0 0 5px 0;
  -webkit-box-shadow: #bbbbbb 0 0 5px 0;
  -o-box-shadow: #bbbbbb 0 0 5px 0;
  box-shadow: #bbbbbb 0 0 5px 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 161, sass/partials/_page.scss */
#main #convert_form #input:focus {
  outline: 0;
  border-color: #cb4820;
  -moz-box-shadow: #bbbbbb 0 0 15px 0;
  -webkit-box-shadow: #bbbbbb 0 0 15px 0;
  -o-box-shadow: #bbbbbb 0 0 15px 0;
  box-shadow: #bbbbbb 0 0 15px 0;
}
/* line 167, sass/partials/_page.scss */
#main #convert_form .ui-datepicker-trigger {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
}
/* line 175, sass/partials/_page.scss */
#main #examples {
  padding: 30px;
}
/* line 177, sass/partials/_page.scss */
#main #examples ul {
  text-align: center;
  list-style-type: none;
  margin: 15px 5px 0 0;
  font-size: 90%;
}
/* line 182, sass/partials/_page.scss */
#main #examples ul li {
  padding: 5px 20px;
  display: inline;
  white-space: nowrap;
}
/* line 186, sass/partials/_page.scss */
#main #examples ul li.game {
  font-style: italic;
}

/* line 194, sass/partials/_page.scss */
footer {
  padding: 20px 30px;
  background: #CB4820;
  color: #DDD;
  position: relative;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 201, sass/partials/_page.scss */
footer .copyright {
  width: 450px;
}
/* line 203, sass/partials/_page.scss */
footer .copyright ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 209, sass/partials/_page.scss */
footer .icons {
  position: absolute;
  right: 30px;
  top: 15px;
}
/* line 213, sass/partials/_page.scss */
footer .icons div {
  margin: -10px;
}

/* line 222, sass/partials/_page.scss */
.ui-autocomplete.ui-menu .ui-menu-item a {
  min-height: 26px;
  position: relative;
  padding-left: 40px;
  padding-top: 8px;
}
/* line 227, sass/partials/_page.scss */
.ui-autocomplete.ui-menu .ui-menu-item a img {
  width: 30px;
  height: 30px;
  background: url(/images/loader.gif) no-repeat -1px -1px;
  position: absolute;
  top: 3px;
  left: 3px;
}

/* line 239, sass/partials/_page.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
}

/* line 243, sass/partials/_page.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999;
  font-style: italic;
}

@media print {
  /* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../.rvm/gems/ree-1.8.7-2011.01@ValveTime/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
