development:
  adapter: mysql2
  encoding: utf8
  database: valvetime_development
  username: root
test: &TEST
  adapter: mysql2
  encoding: utf8
  database: valvetime_test
  username: root
production:
  adapter: mysql2
  encoding: utf8
  database: valvetime_production
  username: root
cucumber: &CUCUMBER
  <<: *test
