// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('"CartoGothic Std",sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #444;

$link-color: #2042CB;

$link-hover-color: #7590FE;

$link-active-color: #2042CB;

$link-visited-color: #2042CB;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #CB4820;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol
