// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

@import "compass/css3/font-face";

@include font-face("CartoGothic Std", font-files("/fonts/CartoGothicStd-Book-webfont.woff", woff, "/fonts/CartoGothicStd-Book-webfont.ttf", truetype, "/fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook", svg), "/fonts/CartoGothicStd-Book-webfont.eot");

@mixin my-font-face($name, $font-files, $eot: false, $weight: false, $style: false) {
  $iefont: unquote("#{$eot}?iefix");
  @font-face {
    font-family: quote($name);
    src: $font-files;
    @if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-style: $style;
    }
    @if $eot {
      src: font-url($eot);
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files; }
  }
}
@include my-font-face("CartoGothic Std", font-files("/fonts/CartoGothicStd-Bold-webfont.woff", woff, "/fonts/CartoGothicStd-Bold-webfont.ttf", truetype, "/fonts/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold", svg), "/fonts/CartoGothicStd-Bold-webfont.eot", bold);
@include my-font-face("CartoGothic Std", font-files("/fonts/CartoGothicStd-Italic-webfont.woff", woff, "/fonts/CartoGothicStd-Italic-webfont.ttf", truetype, "/fonts/CartoGothicStd-Italic-webfont.svg#CartoGothicStdItalic", svg), "/fonts/CartoGothicStd-Italic-webfont.eot", false, italic);
@include my-font-face("CartoGothic Std", font-files("/fonts/CartoGothicStd-BoldItalic-webfont.woff", woff, "/fonts/CartoGothicStd-BoldItalic-webfont.ttf", truetype, "/fonts/CartoGothicStd-BoldItalic-webfont.svg#CartoGothicStdBoldItalic", svg), "/fonts/CartoGothicStd-BoldItalic-webfont.eot", bold, italic);

